/**
* Variables
**/
$background-color: #F4F7FD;
$primary-color: #4880ff;
$dark-blue: #3558AB;
$secondary-color: #FF7E43;
$kbd-border-radius: 10px; // Borders of vuetify
$text-field-border-radius: 8px; // Borders of vuetify

// Colors
$white: #ffffff;
$menu-color: #313945;